
body{
    width: 80% !important;
    overflow-x: hidden;
}
nav{
position: relative;
    top: 0.7em;
    left:2em;
}
.nav-img {
 margin-right: 198px;
position: relative;
    top: 0.4em;

}

.search{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0.9em;
}
.input-group.md-form.form-sm.form-1 input{
    border: 2px solid #37A000;


}
.input-group.md-form.form-sm.form-2 input {
    border: 2px solid #37A000;

}
.search-icon{
    color: white;
    border-color: #37A000;
    background: #37A000;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
  /*here*/
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;

}
.input-group.md-form.form-sm.form-2 input.red-border {
    border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border {
    border: 2px solid #37A000;
    border-right-color:grey ;
    border-top-left-radius:  1em;
    border-bottom-left-radius: 1em;
}
.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid #ffca28;
}
.search-input::placeholder{
    font-family: 'Roboto', sans-serif;
    color:  #37A000;

}
.drop-nav{
    background-color: white;
    border: 2px solid #37A000;
    border-left-color: white;
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
    color: #81C784;
/* #616161 */
    font-size:0.9em;
}
.drop-nav:hover{
    color: #37A000;
    font-weight: bold;
}
.drop-nav-item{
    font-family: Roboto,Sans-Serif;
    font-size: 0.95em;

}
.drop-nav-item:hover{
    font-weight: bold;
    background-color: #37A000;
    color: white;
    text-shadow: none;
}
.serch-bar{
    width: 487px;
    height: 32px;
}
.cart-img{
    margin-left: 32px;
    position: relative;
    top: 0.1em;
}
.cart-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: relative;
    top: 0.2em;
}
.cart-num-div{

    background-color: #37A000 ;
    border-radius: 40%;

}
.cart-num{
   color: white;
padding-left: 5px;
    padding-right: 5px;
    font-size: 0.9em;
    font-family: Roboto,Sans-Serif;

}
.cart-word{
    font-family: Roboto.Sans-Serif;
    position: relative;
    top: -0.25em;
    font-size: 0.9em;
    font-weight: bold;
    color: #37A000;
    margin-left:2px;
}
.avatar{
    margin-left: 57px;
    position: relative;
    top: 0.25em;
    display: flex;
    flex-direction: row;
}
.avatar-split{
    font-size: 1.7em;
    color: black;
    position: relative;
    top: -0.3em;
    margin-left: 0.25em;
}
.login{
    position: relative;
    top: 0.3em;
    margin-left: 0.4em;
    font-size: 0.9em;
    text-shadow: none;
    color: #373A3C;
    font-family: 'Squada One',Sans-Serif;
    font-weight: bold;
}
.register{
    position: relative;
    top: 0.3em;
    margin-left: 0.3em;
    color: #373A3C;
    font-size: 0.9em;
    text-shadow: none;
    font-family: 'Squada One',Sans-Serif;
    font-weight: bold;
}
.language{
    float: right;
    position: relative;
    left:14em;
    font-size:0.9em;
    top: 0.3em;
    font-weight: bold;
    font-family: Roboto,Sans-Serif;
    color: #373A3C;
}
.category-main{
    position: relative;
    top: 20px;
    left: 2em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.category-title{
    background-color: #F1F1F0;
    width: 240px;
    height: 47px;

    display: flex;
    flex-direction: row;
}
.img-category{
    margin-top: 11.8px;
    margin-left: 20px;
}
.category-word{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 12px;
    font-size: 1.3vw;
    color: #373A3C;
}
.sub-category-in{
    display: flex;
    flex-direction: row;
    margin-top: 0.25em;
    margin-bottom: 0.6em;
}
.sub-category-out{
    width: 240px;
    height: 47px;
    margin-bottom: 0.2em;
    font-weight: 500;
}
.sub-category-out:hover{
    background-color: #F1F1F0 ;
    font-weight: 600 !important;
}
.img-sub-category{
    margin-top: 0.6em;
    margin-left: 1.1em;
}
.sub-category-word{
    margin-left: 0.9em;
    margin-top: 0.6em;
    font-family: Roboto, Sans-Serif;
    font-size: 1.25vw;
    color: #373A3C;

}
.sub-category-main{
    position: relative;
    top: 0.6em;
    display: flex;
    flex-direction: column;

}
.line-sub-category{
    background-color: #F1F1F0;
    width: 240px;
    margin: 0px;
    padding: 0px;
    margin-top: 0.4em;
}
.main-header{
    display: flex;
    flex-direction: row;
}
.img-slider{
    width: 1010px !important;
    height: 350px !important;
}
.main-slider{
    position: relative;
    left: 4.35em;
    top: 1.4em;
}
.sliders{
    display: flex;
    flex-direction: column;
}
.product-img-slider{
    width: 169px !important;
    height: 220px !important;
}

.slider-item{
}
.product-slider-main{
    position: relative;
    top:2.5em;
    left:0.5em;
    width: 1090px;
    margin-left: 0px;
    padding-left: 0px;
}
.recommednd-word{
    position: relative;
    top:1.8em;
    left: 3.6em;
    font-family: Roboto, Sans-Serif;
    font-weight: 600;
    font-size: 1.2em;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 55px;
    width: 55px;
    outline: white;
    opacity: 0.6;
    background-size: 100%, 100%;
    border: 1px solid white;
    background-image: none;
    background-color: white;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 45px;
    color: #4527A0;
    padding-top: 0px;
    margin-top: 0px;
    border-top: 0px;
    position: relative;
    top: -11px;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 45px;
    color: #4527A0;
    padding-top: 0px;
    margin-top: 0px;
    border-top: 0px;
    position: relative;
    top: -11px;
}